
.search_p:focus {
  background: white !important;
  border: 1px solid #eee !important;
  color: black;
}

.col1_main_fr{
  width: 100%;
  height: calc(100% - 60px);
  float: left;
  // background-color: brown;
  padding: 10px;

  .sary_fr{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

 

  .head_col1_fr{
    background: linear-gradient(90deg, var(--ge-blue), rgb(10, 70, 153) 100%);
    border-radius: 15px;
    color: white;
    padding: 30px;
    font-size: 13px;
    float: left;
    font-weight: inherit;
    margin-bottom: 15px;
  }

  .body_col1_fr{
    // background-color: brown;
    float: left;
    width: 100%;
    height: calc(100% - 130px);
    // overflow-y: hidden;


    .body1_col1_fr{
      width: 100%;
      height: 40px;
      
      .c1_col1_fr{
        width: 50%;
        height: 100%;
        float: left;
        // background-color: red;

        .btn_green_fr{
          display: flex;
          background-color: var(--ge-vert);
          font-size: 16px;
          color: white;
          padding: 8px;
          // height: 32px;
          width: 130px;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s;

          .btn_ic_fr{
            // background-color: violet;
            margin-right: 8px;
          }
        }

        .btn_green_fr:hover{
          background-color: white;
          color: var(--ge-vert);
          border: 2px solid var(--ge-vert);
        }
      }

      .c2_col1_fr{
        width: 50%;
        height: 100%;
        float: right;
        // background-color: blue;
        position: relative;

        .reste_abs_fr{
          height: 100%;
          position: relative;
          float: right;
          display: flex;

          .reste_search_fr{
            float: left;
            // background-color: aqua;
            width: 250px;
            display: flex;

            input{
              height: 30px;
              width: 100%;
              border-radius: 10px 0px 0px 10px;
              border-color: gray;
              border-style: none;
              background-color: rgb(232, 232, 232);
            }

            .search_icon_fr{
              width: 64px;
              height: 30px;
              border-radius: 0px 10px 10px 0px;
              background-color: rgb(232, 232, 232);
              border-left: 2px solid rgb(255, 255, 255);
              cursor: pointer;
            }
            
          }

          .reste_square_fr{
            width:  35px;
            height: 35px;
            padding: 5px;
            overflow: hidden;
            // background-color: violet;
            box-shadow: 19px 22px 29px -6px rgba(138,138,138,0.36);
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;

          }
        }
      }
    }

    .card_cont_col1_fr{
      // // max-height: calc(100% - 400px);
      // width: 100%;
      // height: 100%;
      // background-color: red;
    }
  }

  .card_cont_col1_fr{
    // height: 80%;
    overflow-y: scroll;
    margin-top: 10px;
    height: calc(100% - 50px);
    position: relative;
    // background-color: rgba(0, 195, 255, 0.468);
    padding: 20px;
    

    .card_white_fr{
      font-size: 15px;
      width: 100%;
      height: 200px;
      background-color: white;
      overflow: hidden;
      box-shadow: 19px 22px 29px -6px rgba(138,138,138,0.36);
      border-radius: 18px;
      border: 2px solid rgba(244, 244, 244, 0.578);
      padding: 20px;
      margin-bottom: 15px;

      .tete_white_fr{
        height: 30%;
        width: 100%;
        // background-color: aqua;

        .c1_tete_fr{
          width: 80%;
          height: 100%;
          float: left;
          font-weight: bold;
          // background-color: red;

          .note_fr{
            color: var(--ge-blue);
            margin-bottom: -4px;
            font-size: 20px;
          }
          .annee_fr{
            font-size: 13px;
          }
        }

        .c2_tete_fr{
          width: 20%;
          height: 100%;
          float: left;
          position: relative;
          // background-color: rgb(0, 0, 255);

          .jour_fr{
            right: 0;
            position: absolute;
          }
        }
      }

      .corps_white_fr{
        // background-color: red;
        overflow: hidden;
        height: 35%;
        width: 100%;
        font-size: 14px;
      }

      .qt_white_fr{
        width: 100%;
        height: 15%;
      }

      .pied_white_fr{
        width: 100%;
        height: 20%;
        float: left;
        // background-color: green;

        .pied_left_fr{
          float: left;
          // background-color: red;
          width: 50%;
          height: 100%;
          // overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          color: white;

          .tag_pied_fr{
            background-color: var(--ge-blue);
            padding: 2px 10px 2px 10px;
            border-radius: 15px;
            margin: 5px;
            font-size: 12px;
            height: 60%;
          }
        }

        .pied_right_fr{
          width: 50%;
          height: 100%;
          float: left;
          position:relative;

          .right2_fr{
            right: 0;
            position: absolute;
          }
        }
      }
    }
  }
}



.search_icon_fr:hover{
  scale: 1.1;
}

.col2_main_fr{
  width: 35%;
  height: calc(100% - 90px);
  float: left;
  // background-color: rgb(42, 130, 165);
  // overflow-y: scroll;

  .col21_main_fr{
    width: 100%;
    height: 30%;
    // background-color: rgba(255, 0, 0, 0.496);
  }


  .col22_main_fr{
    width: 100%;
    height: 70%;
    // background-color: rgba(255, 255, 0, 0.504);

  }
  

  .title_21_fr{
    color: var(--ge-gris);
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    height: 30px;
    float: left;
    overflow: hidden;
    // background-color: red;
  }
  
  .tag_cont_fr{
    // background-color: brown;
    padding: 10px;
    float: left;
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;

    .tag_22_fr{
      font-size: 14px;
      background-color: rgb(223, 223, 223);
      height: 35px;
      padding: 10px 20px 20px 20px;
      border-radius: 16px;
      font-weight: bold;
      margin: 4px;
      color: rgb(137, 137, 137);
      cursor: pointer;
      transition: 0.1s;
    }

    .tag_22_fr:hover{
      scale: 1.15;
    }

  }
}

.card2_cont_fr{
    // height: 80%;
    overflow-y: scroll;
    margin-top: 10px;
    height: calc(100% - 50px);
    position: relative;
    // background-color: rgba(0, 195, 255, 0.468);
    padding: 20px;
    

    .card_white2_fr{
      font-size: 15px;
      width: 100%;
      height: 200px;
      background-color: white;
      overflow: hidden;
      box-shadow: 19px 22px 29px -6px rgba(138,138,138,0.36);
      border-radius: 18px;
      border: 2px solid rgba(244, 244, 244, 0.578);
      
      margin-bottom: 15px;

      .tete_white2_fr{
        height: 35%;
        width: 100%;
        padding: 20px;
        // background-color: aqua;

        .c1_tete2_fr{
          width: 80%;
          height: 100%;
          float: left;
          font-weight: bold;
          // background-color: red;

          .note2_fr{
            color: var(--ge-blue);
            margin-bottom: -4px;
            font-size: 20px;
          }
          .comm2_fr{
            font-size: 13px;
            font-weight: 500;
            margin-top: 4px;
            height: 18px;
            // background-color: red;
            overflow: hidden;
          }
        }

        .c2_tete2_fr{
          width: 20%;
          height: 100%;
          float: left;
          position: relative;
          // background-color: rgb(0, 0, 255);

          .jour2_fr{
            right: 0;
            position: absolute;
          }
        }
      }

      .corps_white2_fr{
        background-color: rgb(255, 221, 221);
        // margin: -10px;
        color: rgb(200, 0, 0);
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        height: 35%;
        width: 100%;
        font-size: 13px;
      }

      .pied_white2_fr{
        width: 100%;
        height: 35%;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(255, 221, 221);
        // background-color: green;
        padding-top: 15px;

        .pied_left2_fr{
          float: left;
          font-size: 12px;
          // background-color: red;
          width: 50%;
          height: 100%;
          // overflow: hidden;
        }

        .pied_right2_fr{
          width: 50%;
          height: 100%;
          float: left;
          position:relative;

          .right22_fr{
            right: 0;
            position: absolute;
            background-color: var(--ge-vert);
            padding: 6px;
            width: 100px;
            border-radius: 10px;
            color: white;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
          }

          .right22_fr:hover{
            background-color: white;
            color: var(--ge-vert);
            font-weight: bold;
          }
        }
      }
    }
}


@media screen and (max-width: 1200px) {
  .col1_main_fr{
    width: 100%;
  }

  .col2_main_fr{
    display: none;
  }

  .reste_search_fr{
    width: 100px;
    // background-color: red;
  }

  .card_cont_col1_fr{
    padding: 10px;
    // background-color: red;
  }
}